body {
    background-color: grey;
    margin: 0;
}

header {
    background-color: rgb(201, 197, 197);
}

header .container {
    width: 100%;
    margin: 0 auto;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

header a {
    color: black;
    text-decoration: none;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.button {
    padding: 10px;
    font-size: 15px;
    margin: 20px;
}

.pages {
    width: 100%;
}

.opening-img {
    margin: auto;
}

.background-div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.room-background {
    width: 81%;
}

.abs {
    position: absolute;
}

.math {
    top: 775px;
    left: 300px;
    width: 20%;
}
.map {
    top: 775px;
    left: 1150px;
    width: 20%;
}

.detective {
    top: 400px;
    left: 1050px;
    width: 8%;
}

.stone {
    top: 410px;
    left: 750px;
    width: 20%;
}
.news1 {
    top: 500px;
    left: 800px;
    width: 4%;
}
.news2 {
    top: 500px;
    left: 1000px;
    width: 4%;
}
.news3 {
    top: 475px;
    left: 900px;
    width: 4%;
}
.closet {
    top: 75px;
    left: 1200px;
    width: 15%;
}

.math-input {
    width: 150px;
    height: 45px;
    position: absolute;
    top: 650px;
    left: 1250px;
}

.back-button {
    position: absolute;
    top: 700px;
    left: 1300px;
}