@keyframes spin {
  from {
    transform:rotate(0deg);
  }
  to {
    transform:rotate(360deg);
  }
}

.computer-background {
  background-image: url('../../img/computer.png');
  background-position: center;
  background-repeat: no-repeat; 
  background-size: cover; 
  width: 60vw;
  height: 60vw;
}

.computer-screen {
  width: 20vw;
  height: 20vw;
  // background-color: blue;
  top: 25%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.trio {
  width: 3vw;
  height: 3vw;
  // background-color: red;
  animation: spin 5s linear infinite;
  display: flex;
  align-items: start;
  justify-content: space-between;

  .orbs {
    width: 1vw;
    height: 1vw;
    background-color: yellow;
    border-radius: 50%;
  }

  .orb1 {
    align-self: end;
    // background-color: green;
  }
}

.button-holder {
  width: 20vw;
  height: 5vw;
  // background-color: green;
  top: 45%;
  display: flex;
  align-items: center;
  justify-content: space-around;

  button {
    width: 3vw;
    height: 3vw;
    border-radius: 50%;
    background-color: pink;
  }

  button:hover {
    cursor: pointer;
  }
}

h1 {
  color: red;
  font-size: 20em;
}

.home-button {
  z-index: 999;
}